Experiment No.4\
Name : Pranav Menon\
PRN No. : 25070123085\
Batch : ENTC - B1\
Aim of the experiment : Study of Set in Python

In [3]:
# Introduction to Set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [4]:
# Duplication of Sets are Not Allowed
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [9]:
# Logical Command Application in Set
thisset = {"apple", "banana", "cherry",True,1,2}
print((thisset))

{True, 2, 'cherry', 'apple', 'banana'}

In [10]:
# To check for the membership in a Set
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print("Grapes" in thisset)

True
False

In [13]:
# Addition of an element in a set
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [15]:
# Removal of an element from a set
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [19]:
# Operations on a set
A = {1,2,3,4}
B = {3,4,5,6}
print("Union : ", A | B)
print("Intersection : ", A & B)
print("Difference 1 : ", A - B)
print("Difference 2 : " , B-A)
print("Symmetric Difference : ", A ^ B)

Union :  {1, 2, 3, 4, 5, 6}
Intersection :  {3, 4}
Difference 1 :  {1, 2}
Difference 2 :  {5, 6}
Symmetric Difference :  {1, 2, 5, 6}

In [24]:
# Introduction to FrozenSet
x = frozenset(["apple","banana","cherry"])
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [32]:
# Practice Problems on Set
student_Name = ["Pranav" , "Praharsh" , "Harsh" , "Aditya","Dhruv","Pranav","Aditya","Dhruv"]
Student_Name = set(student_Name)
print("Unique Participants : " ,Student_Name)

Unique Participants :  {'Pranav', 'Aditya', 'Dhruv', 'Praharsh', 'Harsh'}

In [39]:
# Practice Problems on Set
Student1 = {"Maths","Physics","Biology","Python"}
Student2 = {"Maths","Chemistry","Biology","Python"}
Student3 = {"Maths","Physics","Chemistry","Python"}
print("The Subjects Common to all the three Student is : " , Student1 & Student2 & Student3)
print("The Subjects Common to all the three Student is : " , Student1.intersection(Student2,Student3))

The Subjects Common to all the three Student is :  {'Maths', 'Python'}
The Subjects Common to all the three Student is :  {'Maths', 'Python'}

In [41]:
# Practice Problems on Set
Cricket_Club = {"Pranav","Praharsh","Aditya","Amar","Rahul"}
FootBall_Club = {"Aditya","Pranav","Rahul","Shyam","Raju"}
Common = Cricket_Club & FootBall_Club
Not_Common = Cricket_Club ^ FootBall_Club
Cricket = Cricket_Club - FootBall_Club
Football = FootBall_Club - Cricket_Club
print("The Members Common to both the clubs are : " , Common)
print("The Members which are unique to the clubs are : " , Not_Common)
print("The Members which are unique to the Cricket Club are : " , Cricket)
print("The Members which are unique to the Football Club are : " , Football)

The Members Common to both the clubs are :  {'Rahul', 'Pranav', 'Aditya'}
The Members which are unique to the clubs are :  {'Shyam', 'Raju', 'Amar', 'Praharsh'}
The Members which are unique to the Cricket Club are :  {'Amar', 'Praharsh'}
The Members which are unique to the Football Club are :  {'Shyam', 'Raju'}

In [47]:
# Practice Problems on Set
all_students = {"Pranav","Praharsh","Aditya","Amar","Rahul"}
present_student = {"Aditya","Pranav","Rahul","Shyam","Raju"}
absent_student = all_students - present_student
print("The Students who are absent are :", absent_student)

The Students who are absent are : {'Amar', 'Praharsh'}

In [49]:
# Pracice Problems on Set
current_courses = {"Physics","Chemistry","Biology","Math","Python","Digital Circuits and Logic Design"}
current_courses.discard("Chemistry")
print("Updated Courses : " , current_courses)
current_courses.remove("Math")
print("Updated Courses : " , current_courses)

Updated Courses :  {'Physics', 'Math', 'Python', 'Biology', 'Digital Circuits and Logic Design'}
Updated Courses :  {'Physics', 'Python', 'Biology', 'Digital Circuits and Logic Design'}